#out {
    height: 100vh;
    width: 100vw
}

#avalonia-splash {
    position: absolute;
    height: 100%;
    width: 100%;
    color: whitesmoke;
    background: #171C2C;
    font-family: 'Nunito', sans-serif;
}

#avalonia-splash a{
    color: whitesmoke;
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    height: 250px;
}

.splash-close {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
