<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Splat" version="1.6.2" targetFramework="net45" />
  <package id="StyleCop.Analyzers" version="1.0.0-beta008" targetFramework="net45" developmentDependency="true" />
  <package id="xunit" version="2.0.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net45" />
  <package id="xunit.core" version="2.0.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.0.0" targetFramework="net45" />
</packages>