[submodule "src/Markup/Avalonia.Markup.Xaml/PortableXaml/portable.xaml.github"]
	path = src/Markup/Avalonia.Markup.Xaml/PortableXaml/portable.xaml.github
	url = https://github.com/AvaloniaUI/Portable.Xaml.git
[submodule "nukebuild/Numerge"]
	path = nukebuild/Numerge
	url = https://github.com/kekekeks/Numerge.git
