[submodule "Numerge"]
	path = external/Numerge
	url = https://github.com/kekekeks/Numerge.git
[submodule "XamlX"]
	path = external/XamlX
	url = https://github.com/kekekeks/XamlX.git
[submodule "Avalonia.Controls.DataGrid"]
	path = external/Avalonia.Controls.DataGrid
	url = https://github.com/AvaloniaUI/Avalonia.Controls.DataGrid.git
