# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  name: 'AvaloniaMacPool'

steps:
- script: appium &
  displayName: 'start appium'
  
- script: ./tests/Avalonia.IntegrationTests.Appium/macos-clean-build-test.sh
  displayName: 'run integration tests'

