# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: macOS-10.15

steps:
- task: UseDotNet@2
    displayName: 'Use .NET Core SDK 3.1.418'
    inputs:
      version: 3.1.418

- task: UseDotNet@2
  displayName: 'Use .NET Core SDK 6.0.202'
  inputs:
    version: 6.0.202

- script: npm install -g appium
  displayName: 'install appium'

- script: appium &
  displayName: 'start appium'
  
- script: ./tests/Avalonia.IntegrationTests.Appium/macos-clean-build-test.sh
  displayName: 'run integration tests'

