<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <clear />
      <add key="dotnet9" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9/nuget/v3/index.json" />
      <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
      <add key="dotnet-experimental" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-experimental/nuget/v3/index.json" />
      <add key="HarfBuzzSharp" value="E:\Work\Projects\SkiaSharp\binding\HarfBuzzSharp\bin\Release" />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />    
    <add key="skiasharp" value="https://aka.ms/skiasharp-eap/index.json" />
  </packageSources>
</configuration>
