<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="NuGet 3 (plain)" value="http://api.nuget.org/v3/index.json" />
    <add key="Avalonia Nightly" value="https://www.myget.org/F/avalonia-ci/api/v2" />
  </packageSources>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
</configuration>