<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.40.0" targetFramework="net45" />
  <package id="AutoFixture.AutoMoq" version="3.40.0" targetFramework="net45" />
  <package id="JetBrains.dotMemoryUnit" version="2.1.20150828.125449" targetFramework="net45" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net45" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net45" />
  <package id="xunit" version="2.1.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net46" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net45" />
  <package id="xunit.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net45" />
</packages>