<div id="container" @ref="_containerElement"  
     class="avalonia-container" 
     tabindex="0" oncontextmenu="return false;"
     @onwheel="OnWheel"
     @onkeydown="OnKeyDown"
     @onkeyup="OnKeyUp"
     @onkeyup:preventDefault="@KeyPreventDefault"
     @onkeydown:preventDefault="@KeyPreventDefault"
     @onpointerdown="OnPointerDown"
     @onpointerup="OnPointerUp"
     @onpointermove="OnPointerMove"
     @onpointercancel="OnPointerCancel"
     @onfocus="OnFocus">
    
    <canvas id="htmlCanvas" @ref="_htmlCanvas" @attributes="AdditionalAttributes"/>

	<div id="nativeControlsContainer" @ref="_nativeControlsContainer" />

    <input id="inputElement" @ref="_inputElement" type="text" 
        onpaste="return false;"
        oncopy="return false;" 
        oncut="return false;"
        autocapitalize="none"/>
</div>

<style>
#container{
    touch-action: none;
}
#htmlCanvas {
    opacity: 1;
    background-color: #ccc;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 500;
}

#nativeControlsContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 700;
}

#inputElement {
    opacity: 0.2;
    position: absolute;
    width: 400px;
    height: 75px;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

</style>
