<xamlConfiguration>
  <!-- Classes whose subclasses (and members) do NOT get XAML syntax even though they otherwise satisfy the XAML-ness algorithm -->
  <xamlExcludedAncestors>
    <class api="T:System.EventArgs"/>
    <class api="T:System.Exception"/>
    <class api="T:System.Security.Permissions.Permission"/>
  </xamlExcludedAncestors>

  <!-- List the assemblies for which XamlGenerator generates XAML syntax or boilerplate.
       The XAML syntax blocks for members of all other assemblies get a generic boilerplate, e.g. "Not applicable." -->
  <xamlAssemblies>
    <assembly name="PresentationFramework">
      <xmlns uri="http://schemas.microsoft.com/winfx/2006/xaml/presentation">
        <clrNamespace name="System.Windows.Navigation"/>
        <clrNamespace name="System.Windows.Controls"/>
        <clrNamespace name="System.Windows.Documents"/>
        <clrNamespace name="System.Windows.Shapes"/>
        <clrNamespace name="System.Windows.Data"/>
        <clrNamespace name="System.Windows"/>
        <clrNamespace name="System.Windows.Controls.Primitives"/>
        <clrNamespace name="System.Windows.Media.Animation"/>
        <clrNamespace name="System.Windows.Input"/>
      </xmlns>
      <xmlns uri="http://schemas.microsoft.com/netfx/2007/xaml/presentation">
        <clrNamespace name="System.Windows.Controls.Primitives"/>
        <clrNamespace name="System.Windows.Controls"/>
        <clrNamespace name="System.Windows.Documents"/>
        <clrNamespace name="System.Windows.Shapes"/>
        <clrNamespace name="System.Windows.Navigation"/>
        <clrNamespace name="System.Windows.Data"/>
        <clrNamespace name="System.Windows"/>
        <clrNamespace name="System.Windows.Input"/>
        <clrNamespace name="System.Windows.Media.Animation"/>
      </xmlns>
      <xmlns uri="http://schemas.microsoft.com/winfx/2006/xaml">
        <clrNamespace name="System.Windows.Markup"/>
      </xmlns>
    </assembly>
    <assembly name="PresentationCore">
      <xmlns uri="http://schemas.microsoft.com/winfx/2006/xaml/presentation">
        <clrNamespace name="System.Windows.Media.Imaging"/>
        <clrNamespace name="System.Windows.Input"/>
        <clrNamespace name="System.Windows.Media"/>
        <clrNamespace name="System.Windows.Media.Effects"/>
        <clrNamespace name="System.Windows.Automation"/>
        <clrNamespace name="System.Windows.Media.Media3D"/>
        <clrNamespace name="System.Windows.Media.Animation"/>
        <clrNamespace name="System.Windows"/>        
        <clrNamespace name="System.Windows.Media.TextFormatting"/>
        <clrNamespace name="System.Windows.Ink"/>
      </xmlns>
      <xmlns uri="http://schemas.microsoft.com/netfx/2007/xaml/presentation">
        <clrNamespace name="System.Windows.Media.Imaging"/>        
        <clrNamespace name="System.Windows.Media.Media3D"/>
        <clrNamespace name="System.Windows.Ink"/>        
        <clrNamespace name="System.Windows.Input"/>
        <clrNamespace name="System.Windows.Automation"/>
        <clrNamespace name="System.Windows.Media.TextFormatting"/>
        <clrNamespace name="System.Windows.Media.Animation"/>
        <clrNamespace name="System.Windows.Media"/>
        <clrNamespace name="System.Windows"/>
        <clrNamespace name="System.Windows.Media.Effects"/>
      </xmlns>
      <xmlns uri="http://schemas.microsoft.com/winfx/2006/xaml">
        <clrNamespace name="System.Windows.Markup"/>
      </xmlns>
    </assembly>
    <assembly name="WindowsBase">
      <xmlns uri="http://schemas.microsoft.com/winfx/2006/xaml/presentation">
        <clrNamespace name="System.Diagnostics"/>
        <clrNamespace name="System.Windows.Media"/>
        <clrNamespace name="System.Windows.Input"/>
        <clrNamespace name="System.Windows"/>
      </xmlns>
      <xmlns uri="http://schemas.microsoft.com/netfx/2007/xaml/presentation">
        <clrNamespace name="System.Windows.Input"/>
        <clrNamespace name="System.Windows.Media"/>
        <clrNamespace name="System.Diagnostics"/>
        <clrNamespace name="System.Windows"/>
      </xmlns>
      <xmlns uri="http://schemas.microsoft.com/winfx/2006/xaml">
        <clrNamespace name="System.Windows.Markup"/>
      </xmlns>
    </assembly>
    <assembly name="WindowsFormsIntegration">
      <xmlns uri="http://schemas.microsoft.com/winfx/2006/xaml/presentation">
        <clrNamespace name="System.Windows.Forms.Integration"/>
      </xmlns>
      <xmlns uri="http://schemas.microsoft.com/netfx/2007/xaml/presentation">
        <clrNamespace name="System.Windows.Forms.Integration"/>
      </xmlns>
    </assembly>
    <assembly name="PresentationFramework.Aero"/>
    <assembly name="PresentationFramework.Luna"/>
    <assembly name="PresentationFramework.Classic"/>
    <assembly name="PresentationFramework.Royale"/>
    <assembly name="ReachFramework"/>
  </xamlAssemblies>
</xamlConfiguration>
