<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Moq" version="4.5.19" targetFramework="net45" />
  <package id="Splat" version="1.6.2" targetFramework="net451" />
  <package id="Sprache" version="2.0.0.52" targetFramework="net45" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net451" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net451" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net451" />
  <package id="xunit" version="2.1.0" targetFramework="net451" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net451" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net451" />
  <package id="xunit.core" version="2.1.0" targetFramework="net451" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net451" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net451" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net451" />
</packages>