<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Glass" version="1.4.4.0" targetFramework="net46" />
  <package id="OmniXaml" version="1.4.4.0" targetFramework="net46" />
  <package id="OmniXaml.AppServices" version="1.4.4.0" targetFramework="net46" />
  <package id="OmniXaml.AppServices.NetCore" version="1.4.4.0" targetFramework="net46" />
  <package id="Perspex" version="0.0.1-alpha" targetFramework="net46" />
  <package id="reactiveui" version="6.5.0" targetFramework="net46" />
  <package id="reactiveui-core" version="6.5.0" targetFramework="net46" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net46" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net46" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net46" />
  <package id="Serilog" version="1.5.9" targetFramework="net46" />
  <package id="Splat" version="1.6.2" targetFramework="net46" />
  <package id="Sprache.SuperJMN" version="2.0.0.46" targetFramework="net46" />
</packages>