<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.0.0101" targetFramework="net45" />
  <package id="System.Reactive" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Windows.Threading" version="3.0.0" targetFramework="net45" />
  <package id="xunit" version="2.1.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net45" />
  <package id="xunit.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net45" />
</packages>