<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.31.3" targetFramework="net45" />
  <package id="AutoFixture.AutoMoq" version="3.31.1" targetFramework="net45" />
  <package id="JetBrains.dotMemoryUnit" version="2.1.20150828.125449" targetFramework="net45" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="xunit" version="2.0.0" targetFramework="net46" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net46" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net46" />
  <package id="xunit.core" version="2.0.0" targetFramework="net46" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net46" />
</packages>