<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable45-net45+win8" />
  <package id="Rx-Core" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="portable45-net45+win8" />
</packages>