<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
       <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="avalonia-all@Local" value="https://pkgs.dev.azure.com/AvaloniaUI/AvaloniaUI/_packaging/avalonia-all%40Local/nuget/v3/index.json" protocolVersion="3" />
    <add key="AvaloniaCI" value="https://nuget.avaloniaui.net/repository/avalonia-all/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
