<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Collections" version="4.0.11" targetFramework="monoandroid44" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="monoandroid44" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="monoandroid44" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="monoandroid44" />
  <package id="System.Diagnostics.Tools" version="4.0.1" targetFramework="monoandroid44" />
  <package id="System.Globalization" version="4.0.11" targetFramework="monoandroid44" />
  <package id="System.Linq" version="4.1.0" targetFramework="monoandroid44" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="monoandroid44" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="monoandroid44" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="monoandroid44" />
  <package id="System.Reflection" version="4.1.0" targetFramework="monoandroid44" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="monoandroid44" />
  <package id="System.Runtime" version="4.1.0" targetFramework="monoandroid44" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="monoandroid44" />
  <package id="System.Threading" version="4.0.11" targetFramework="monoandroid44" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="monoandroid44" />
</packages>