<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-01-06T12:33:24Z</date>
	<key>WorkspacePath</key>
	<string>/Users/benediktstebner/RiderProjects/Avalonia/native/Avalonia.Native/src/OSX/Avalonia.Native.OSX.xcodeproj</string>
</dict>
</plist>
