<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <config>
    <add key="globalPackagesFolder" value="artifacts/nuget-cache" />
  </config>

  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="local-avalonia" value="../../artifacts/nuget" />
  </packageSources>

  <packageSourceMapping>
    <clear />
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Avalonia.BuildServices" />
      <package pattern="Avalonia.Angle.Windows.Natives" />
    </packageSource>
    <packageSource key="local-avalonia">
      <package pattern="Avalonia" />
      <package pattern="Avalonia.*" />
    </packageSource>
  </packageSourceMapping>

</configuration>
