<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable45-net45+win8" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="portable45-net45+win8" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="portable45-net45+win8" />
</packages>