<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Portable.Xaml" version="0.15.0" targetFramework="portable45-net45+win8" />
  <package id="Sprache" version="2.1.0" targetFramework="portable45-net45+win8" />
  <package id="System.Globalization" version="4.0.11" targetFramework="portable45-net45+win8" />
  <package id="System.Linq" version="4.1.0" targetFramework="portable45-net45+win8" />
  <package id="System.Reactive" version="3.0.0" targetFramework="portable45-net45+win8" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="portable45-net45+win8" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="portable45-net45+win8" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="portable45-net45+win8" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="portable45-net45+win8" />
  <package id="System.Runtime" version="4.1.0" targetFramework="portable45-net45+win8" />
  <package id="System.Text.RegularExpressions" version="4.1.0" targetFramework="portable45-net45+win8" />
</packages>