<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Collections" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.ComponentModel.Annotations" version="4.1.0" targetFramework="portable45-net45+win8" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Globalization" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Reactive" version="3.0.0" targetFramework="portable45-net45+win8" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="portable45-net45+win8" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="portable45-net45+win8" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="portable45-net45+win8" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="portable45-net45+win8" />
  <package id="System.Reflection" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Runtime" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Threading" version="4.3.0" targetFramework="portable45-net45+win8" />
</packages>